<extend name="Public:base" />

<block name="top">
<div class="container_12"> <a href="#" data-rel="back" data-transition="none">
    <div class="grid_3">返回</div>
    </a>
    <div class="grid_6" align="center">信息提示</div>
    <a href="" data-transition="none">
    <div class="grid_3" align="right"></div>
    </a> </div>
</block>

<block name="content">
	<div class="digilinx-content-well-normal">
		<div class="container_16" >

			<div class="grid_1">&nbsp;</div>
			<div class="grid_10 text-info" style="line-height:50px; width: 90%;">{$msg}</div>
		</div>
	</div>
	<a class="ui-btn ui-btn-active" href="#" data-rel="back" data-transition="none">返回</a>
</block>

