<extend name="Public:base" />

<block name="top">
<div class="container_12"> <div class="grid_3">&nbsp;</div>

    <div class="grid_6" align="center">重置密码</div>

</div>
</block>

<block name="content">
    <!-- content -->
		<div>
            <div align="center" style="padding:50px 0px;"><img src="__PUBLIC__/common/image/error.png" width="120px;"></div>
            <div class="digilinx-content-well-dotline"></div>
            <div align="center" style="font-size:16px;color:#fa6949;padding:20px 0px;">当前页面已超时，请重新提交信息。</div>
		</div>
</block>
